<%= stylesheet_link_tag "login_form" %>
<div class="login-signup">
  <div class="form-container">
    <div class="logo">
      <%= image_tag "car.svg" %>
      <p>Rydr</p>
    </div>
    <%= render partial: "users/partials/register_form", user: @user%>
  </div>
</div>
