<% if @rides.empty? %>
  <p style="text-align: center; font-family: 'Gloria Hallelujah'; color: rgba(0, 0, 0, .6);">
    No rides yet. Come back later :-)
  </p>
<% else %>
  <% @rides.each do |ride| %>
    <%= render partial: "rides/partials/ride", locals: {user: current_user, ride: ride} %>
  <% end %>
<% end %>
