<%= stylesheet_link_tag "modal" %>
<div id="delete-ride-modal" class="modal">
  <div class="modal-content">
    <span class="close" data-dismiss="modal">&times;</span>
    <div class="modal-header">
      <p class="modal-heading">Are you sure?</p>
      <div class="modal-underline" />
    </div>
    <%= form_for :ride, url: ride_path(1), method: :delete do |f| %>
      <div class="submit-button">
        <%= f.submit "Delete", class: "submit" %>
      </div>
    <% end %>
  </div>
</div>
