<%= stylesheet_link_tag "rides" %>
<div class="tiles-rides user-rides" style="top: 0; left: 0;">
  <%= render partial: "rides/partials/ride" %>
  <%= render partial: "rides/partials/ride" %>
  <%= render partial: "rides/partials/ride" %>
</div>
