<div class="tile-container vehicle-tile">
  <span><i class="fa fa-check"></i></span>
  <div class="tile">
    <div class="tile-title">
      <div class="vehicle">
        <%= image_tag "vehicle.svg" %>
        <div class="make-model">Toyota Corolla</div>
      </div>
      <div class="rides-history">Rides Completed: 5</div>
    </div>
    <div class="tile-content">
      <div class="license">
        <%= image_tag "license-plate.svg" %>
        <div class="plate">KCR 232C</div>
      </div>
      <div class="capacity">
        <%= image_tag "capacity.svg" %>
        <div class="seating">5</div>
      </div>
      <div class="color">
        <%= image_tag "palette.svg" %>
        <div class="hue">White</div>
      </div>
    </div>
    <div class="tile-update">
      <div class="update-btn">
        <i class="fa fa-pencil"></i>
        <div class="update-text">Edit</div>
      </div>
      <div class="update-btn">
        <i class="fa fa-trash"></i>
        <div class="update-text">Delete</div>
      </div>
    </div>
  </div>
</div>
