<div class="tiles-rides user-rides" style="top: 0; left: 0;">
  <% rides = @user.vehicles.map(&:rides).flatten %>
  <% if rides.empty? %>
    <p style="text-align: center; font-family: 'Gloria Hallelujah'; color: rgba(0, 0, 0, .6);">
      You have no rides yet. Add one below :-)
    </p>
  <% else %>
    <% @user.vehicles.each do |vehicle| %>
      <% vehicle.rides.each do |ride| %>
        <%= render partial: "rides/partials/ride", locals: {user: @user, ride: ride} %>
      <% end %>
    <% end %>
  <% end %>
</div>
