$card-borders: #c6ad79, #f6c0ef, #f5a390;

.tile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 17vh;
  width: 75vw;
  margin-bottom: 3vh;
  opacity: .9;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &:hover span {
    background-color: #26B999;
    border: 0;
  }
  &:hover span > i {
    -webkit-text-stroke: 1px rgba(38, 185, 255, 1);
  }

  span {
    height: 2rem;
    width: 2rem;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 50%;
    color: #fff;
    padding: 0 3px 0 3px;
    margin-left: 2vw;
  }

  .tile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    height: 17vh;
    width: 65vw;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    font-family: 'Gloria Hallelujah', sans-serif;

    .switch {
      position: relative;
      display: inline-block;
      top: .3vh;
      width: 3vw;
      height: 2.5vh;
    }

    .switch input {display:none;}

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      top: 2px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }

  .tile-title {
    display: flex;
    flex-direction: row;
    width: 64vw;
    align-items: flex-start;
    justify-content: space-between;

    .contact {
      display: flex;
      flex-direction: row;
      color: rgba(0, 0, 0, .4);
      width: auto;
      align-items: center;
      justify-content: space-between;
      margin-left: 1vw;

      .contact-heading {
        margin-left: 1vw;
      }
    }
  }

  .tile-content {
    display: flex;
    flex-direction: row;
    width: 64vw;
    align-items: flex-start;

    .phone {
      display: flex;
      flex-direction: row;
      color: rgba(0, 0, 0, .4);
      width: auto;
      align-items: center;
      justify-content: space-between;
      margin-left: 1vw;

      .switch, .phone-number {
        margin-left: 1vw;
      }
    }
  }

  .tile-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 64vw;
    font-size: .9vw;

    .slack {
      display: flex;
      flex-direction: row;
      color: rgba(0, 0, 0, .4);
      width: auto;
      align-items: center;
      justify-content: space-between;
      margin-left: 1vw;

      .switch, .slack-handle {
        margin-left: 1vw;
      }
    }

    .update-buttons {
      display: flex;
      flex-direction: row;
      align-self: flex-end;
      justify-content: space-between;
      width: 9vw;
      margin-right: 3vw;
      font-size: .9vw;

      .update-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 4vw;
        cursor: pointer;
        &:first-child {
          width: 3.2vw;
        }

        i {
          color: rgba(0, 0, 0, .5);
        }

        .update-text {
          color: rgba(0, 0, 0, .5);
        }
      }
    }
  }
}

@for $i from 1 through length($card-borders) {
  .tile-container:nth-child(#{length($card-borders)}n+#{$i}) > .tile {
      border-left: 5px solid nth($card-borders, $i);
  }
  .tile-container:nth-child(#{length($card-borders)}n+#{$i}) > .tile > .tile-title > .rides-history {
      background-color: nth($card-borders, $i);
  }
}
