<div class="profile">
  <%= render partial: "layouts/partials/side_nav" %>
  <div class="right-container">
    <%= render partial: "layouts/partials/top_nav" %>
    <div class="content">
      <div class="filters">
        <%= render partial: "rides/partials/rides_filter" %>
      </div>
      <div class="tiles-rides all-rides">
        <% if @rides.empty? %>
          <p style="text-align: center; font-family: 'Gloria Hallelujah'; color: rgba(0, 0, 0, .6);">
            No rides yet. Come back later :-)
          </p>
        <% else %>
          <% @rides.each do |ride| %>
            <%= render partial: "rides/partials/ride", locals: {user: @user, ride: ride} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
